// ----- RESET ----- \\
body { margin: 0; padding: 0; }
.clear { clear: both; }
ul { list-style: none; margin: 0; padding: 0 }

// ----- MIXINS ----- \\
@mixin border-radius($num: 5px) {
	-moz-border-radius: $num;
	-webkit-border-radius: $num;
	border-radius: $num;
}
@mixin grad($c1, $c2) {
	background-color: $c1;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($c1), to($c2));
	background: -webkit-linear-gradient(top, $c1, $c2);
	background: -moz-linear-gradient(top, $c1, $c2);
	background: -ms-linear-gradient(top, $c1, $c2);
	background: -o-linear-gradient(top, $c1, $c2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c2');
}

// ----- STRUCTURE ----- \\
body {
	font-family: sans-serif;
}
.app-wrapper {
	background-color: rgba(0, 200, 250, 0.3);
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 1019px;
	min-height: 85 + 9 + 480 + 200px;
	overflow: hidden;
	#map-container {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #c1c1c1;
	}
}
.app-header {
	height: 85px;
	width: 100%;
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #900B0C;
	position: relative;
	z-index: 10;
	border-bottom: 2px solid #F2A82A;
}
.content-left {
	float: left;
	width: 300px;
	min-height: 480px;
	position: relative;
	z-index: 10;
	height: 100%;
	color: #FFF;
	.featured-bar {
		width: 100%;
		height: 120px;
		background-color: #4A4A4A;
		border: 1px solid #850001;
		border-left: 0;
	}
	.ad-bud-left {
		width: 100%;
		height: 250px;
		background-color: #4A4A4A;
		position: absolute;
		border: 1px solid #850001;
		border-left: 0;
		top: 50%;
		margin-top: -266px;
	}
	.enter-start {
		width: 100%;
		height: 110px;
		position: absolute;
		bottom: 290px;
		border: 1px solid #850001;
		border-left: 0;
		@include grad(#954243, #7b1314);
		cursor: pointer;
		p {
			margin: 0;
			padding: 0;
			width: 300 - 45px;
			height: 110 - 35px;
			padding-top: 35px;
			padding-left: 45px;
			font-family: 'Carrois Gothic SC', sans-serif;
			font-size: 12px;
			background-image: url('../img/bg_enter.png');
			background-repeat: no-repeat;
			text-align: center;
		}
	}
}
.content-top-center {
	width: 468px;
	margin: auto;
	position: relative;
	z-index: 10;
	.top-wrapper { margin-left: 25px; }
	.ad-bud-top {
		width: 468px;
		height: 60px;
		background-color: #4A4A4A;
		color: #FFF;
	}
	.location-controls {
		width: 444px;
		padding: 0 12px;
		height: 45px;
		background-color: #000;
		color: #FFF;
		@include grad(#954243, #7b1314);
		.control {
			width: 135px;
			height: 29px;
			float: left;
			margin: 7px 6px;
			background-image: url('../img/sprite_btns.png');
			background-repeat: no-repeat;
			cursor: pointer;
		}
		.find-bar {
			background-position: -130px -13px;
			&:hover { background-position: -130px -143px; }
		}
		.view-list {
			background-position: -130px -57px;
			&:hover { background-position: -130px -187px; }
		}
		.add-bar {
			background-position: -130px -100px;
			&:hover { background-position: -130px -231px; }
		}
	}
}
.content-right {
	float: right;
	width: 250px;
	height: 105px;
	background-color: #ccc;
	position: relative;
	z-index: 10;
	font-family: 'Carrois Gothic SC', sans-serif;
	.connect {
		width: 250 - 3px;
		height: 28px;
		padding: 3px;
		@include grad(#954243, #7b1314);
		color: #FFF;
		.label {
			font-size: 12px;
			float: left;
			width: 85px;
			a { color: #FFF; }
		}
		ul.social-links {
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				float: left;
				width: 26px;
				height: 26px;
				margin-right: 6px;
				cursor: pointer;
				background-image: url('../img/sprite_social.png');
				background-repeat: no-repeat;
				&.twitter { background-position: -34px 0; }
				&.instagram { background-position: -69px 0; }
				&.foursquare { background-position: -104px 0; }
				&.email { background-position: -138px 0; }
			}
		}
	}
	.rally-parties {
		height: 71px;
		@include grad(#FFCD1E, #FFC200);
		.rally-wrapper {
			width: 100%;
			height: 100%;
			background-image: url('../img/bg_rally.png');
			background-repeat: no-repeat;
			background-position: 5px 0px;
		}
		.dont-miss {
			font-size: 19px;
			padding-top: 1px;
			margin-left: 55px;
		}
		a.see-all {
			color: #000;
			text-decoration: underline;
			cursor: pointer;
			display: block;
			text-align: center;
			margin-top: 22px;
			margin-left: 15px;
		}
	}
}
.content-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 200px;
	z-index: 10;
	border-top: 4px solid #F2A82A;
	.hashtag {
		width: 74%;
		height: 45px;
		padding-top: 5px;
		text-align: center;
		float: left;
		font-family: 'Carrois Gothic SC', sans-serif;
		font-size: 16px;
		span.hash {
			display: inline-block;
			width: 193px;
			height: 30px;
			background-image: url('../img/sprite_footer.png');
			background-repeat: no-repeat;
			background-position: 0 10px;
			margin-bottom: -5px;
		}
		span.arrow {
			width: 28px;
			height: 28px;
			background-image: url('../img/sprite_arrows.png');
			background-repeat: no-repeat;
			background-position: -28px 0;
			float: right;
			margin-top: 4px;
			margin-right: 10px;
			cursor: pointer;
		}
	}
	.divider {
		width: 1%;
		height: 50px;
		background-color: #FFF;
		float: left;
	}
	.text-to-win {
		width: 25%;
		height: 50px;
		float: left;
		font-family: 'Carrois Gothic SC', sans-serif;
		font-size: 16px;
		.text-wrapper {
			width: 260px;
			margin: auto;
			margin-top: 12px;
			height: 25px;
			background-image: url('../img/sprite_footer.png');
			background-repeat: no-repeat;
			background-position: 0 -20px;
		}
		.txt {
			display: inline-block;
			margin-left: 19px;
			margin-right: 75px;
			margin-top: 3px;
		}
		.deets {
			display: inline-block;
		}
	}
	.hashtag, .text-to-win {
		@include grad(#954243, #7b1314);
		color: #FFF;
	}
	.connect {
		width: 44%;
		height: 50px;
		float: left;
		background-color: #707070;
		color: #FFF;
	}
	.ugc {
		width: 100%;
		background-color: #000;
		height: 150px;
		color: #FFF;
	}
}