body {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif; }

.app-wrapper {
  background-color: rgba(0, 200, 250, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 1019px;
  min-height: 774px;
  overflow: hidden; }
  .app-wrapper #map-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #c1c1c1; }
  .app-wrapper .fade {
    width: 100%;
    height: 100%;
    z-index: 80;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); }

.app-header {
  height: 85px;
  width: 100%;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #900B0C;
  position: relative;
  z-index: 10;
  border-bottom: 2px solid #F2A82A; }

.content-left {
  float: left;
  width: 300px;
  min-height: 480px;
  position: relative;
  height: 100%;
  color: #FFF; }
  .content-left .featured-bar {
    width: 100%;
    height: 120px;
    background-color: #4A4A4A;
    border: 1px solid #850001;
    border-left: 0;
    position: relative;
    z-index: 10; }
  .content-left .ad-bud-left {
    width: 100%;
    height: 250px;
    background-color: #4A4A4A;
    position: absolute;
    border: 1px solid #850001;
    border-left: 0;
    top: 50%;
    margin-top: -266px;
    z-index: 10; }
  .content-left .enter-start {
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 290px;
    border: 1px solid #850001;
    border-left: 0;
    background-color: #954243;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#954243), to(#7b1314));
    background: -webkit-linear-gradient(top, #954243, #7b1314);
    background: -moz-linear-gradient(top, #954243, #7b1314);
    background: -ms-linear-gradient(top, #954243, #7b1314);
    background: -o-linear-gradient(top, #954243, #7b1314);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c2');
    cursor: pointer;
    z-index: 10; }
    .content-left .enter-start .enter-panel {
      display: none; }
    .content-left .enter-start p.enter-intro {
      margin: 0;
      padding: 0;
      width: 255px;
      height: 75px;
      padding-top: 35px;
      padding-left: 45px;
      font-family: 'Carrois Gothic SC', sans-serif;
      font-size: 12px;
      background-image: url("../img/bg_enter.png");
      background-repeat: no-repeat;
      text-align: center; }
    .content-left .enter-start .arrow {
      width: 28px;
      height: 28px;
      position: absolute;
      top: 4px;
      right: 2px;
      background-image: url("../img/sprite_arrows.png");
      background-repeat: no-repeat;
      cursor: pointer; }
    .content-left .enter-start.expanded {
      width: 320px;
      z-index: 90; }
      .content-left .enter-start.expanded .enter-panel {
        display: block;
        position: absolute;
        width: 600px;
        height: 300px;
        padding: 10px;
        background-color: #F8F8F8;
        border: 4px solid #850001;
        color: #000;
        top: -217px;
        left: 321px;
        font-family: 'Carrois Gothic SC', sans-serif; }
        .content-left .enter-start.expanded .enter-panel .enter-form {
          cursor: default;
          display: default; }
        .content-left .enter-start.expanded .enter-panel .enter-thanks {
          cursor: default;
          display: none; }
          .content-left .enter-start.expanded .enter-panel .enter-thanks p {
            text-align: center; }
            .content-left .enter-start.expanded .enter-panel .enter-thanks p.share-title {
              font-size: 24px;
              margin-top: 0; }
          .content-left .enter-start.expanded .enter-panel .enter-thanks .divider {
            height: 1px;
            width: 550px;
            margin: 20px auto;
            background-color: #850001; }
          .content-left .enter-start.expanded .enter-panel .enter-thanks .enter-social {
            width: 114px;
            height: 50px;
            background-image: url("../img/sprite_social_big.png");
            background-repeat: no-repeat;
            margin: auto;
            margin-top: 10px;
            position: relative; }
            .content-left .enter-start.expanded .enter-panel .enter-thanks .enter-social .facebook, .content-left .enter-start.expanded .enter-panel .enter-thanks .enter-social .twitter {
              width: 50px;
              height: 50px;
              cursor: pointer;
              position: absolute;
              top: 0;
              left: 0; }
              .content-left .enter-start.expanded .enter-panel .enter-thanks .enter-social .facebook.twitter, .content-left .enter-start.expanded .enter-panel .enter-thanks .enter-social .twitter.twitter {
                left: 65px; }
        .content-left .enter-start.expanded .enter-panel h4 {
          margin: 0;
          padding: 0;
          font-weight: 400;
          font-size: 24px;
          margin-top: -5px;
          margin-bottom: 3px; }
        .content-left .enter-start.expanded .enter-panel h5 {
          margin: 0;
          margin: 10px 0;
          padding: 0;
          font-weight: 400;
          font-size: 26px;
          text-align: center; }
        .content-left .enter-start.expanded .enter-panel .close {
          position: absolute;
          top: 5px;
          right: 10px;
          text-decoration: underline;
          cursor: pointer;
          color: #850001;
          font-size: 18px; }
        .content-left .enter-start.expanded .enter-panel .sub {
          font-size: 14px;
          float: left;
          margin-bottom: 10px; }
        .content-left .enter-start.expanded .enter-panel .required {
          font-size: 14px;
          float: right; }
        .content-left .enter-start.expanded .enter-panel input {
          border: 1px solid #AA0002;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          background-color: #FFF;
          color: #000;
          font-family: 'Carrois Gothic SC', sans-serif;
          font-size: 14px;
          padding: 5px;
          margin-bottom: 10px;
          outline: none !important; }
          .content-left .enter-start.expanded .enter-panel input.half {
            float: left;
            width: 215px;
            margin-right: 10px; }
          .content-left .enter-start.expanded .enter-panel input.small {
            width: 22px; }
          .content-left .enter-start.expanded .enter-panel input.full {
            width: 452px; }
          .content-left .enter-start.expanded .enter-panel input.quarter {
            width: 105px; }
        .content-left .enter-start.expanded .enter-panel select {
          float: left;
          width: 100px;
          margin-right: 10px;
          background-color: #fffffe;
          font-family: 'Carrois Gothic SC', sans-serif;
          font-size: 14px;
          border-color: #AA0002;
          height: 29px;
          margin-top: 2px;
          outline: none !important; }
        .content-left .enter-start.expanded .enter-panel .dob {
          width: 280px;
          float: left; }
          .content-left .enter-start.expanded .enter-panel .dob label {
            margin-right: 2px; }
        .content-left .enter-start.expanded .enter-panel .condition label {
          font-size: 14px; }
        .content-left .enter-start.expanded .enter-panel .condition a {
          text-decoration: underline;
          cursor: pointer;
          color: #000; }
        .content-left .enter-start.expanded .enter-panel .condition input {
          margin-bottom: 5px; }
        .content-left .enter-start.expanded .enter-panel .submit-btn {
          width: 155px;
          height: 35px;
          margin: auto;
          margin-top: 5px;
          cursor: pointer;
          background-image: url("../img/sprite_btns.png");
          background-repeat: no-repeat;
          background-position: -120px -357px; }
          .content-left .enter-start.expanded .enter-panel .submit-btn:hover {
            background-position: -120px -400px; }

.content-top-center {
  width: 468px;
  margin: auto;
  position: relative;
  z-index: 10; }
  .content-top-center .top-wrapper {
    margin-left: 25px; }
  .content-top-center .ad-bud-top {
    width: 468px;
    height: 60px;
    background-color: #4A4A4A;
    color: #FFF; }
  .content-top-center .location-controls {
    width: 444px;
    padding: 0 12px;
    height: 45px;
    background-color: #000;
    color: #FFF;
    background-color: #954243;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#954243), to(#7b1314));
    background: -webkit-linear-gradient(top, #954243, #7b1314);
    background: -moz-linear-gradient(top, #954243, #7b1314);
    background: -ms-linear-gradient(top, #954243, #7b1314);
    background: -o-linear-gradient(top, #954243, #7b1314);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c2'); }
    .content-top-center .location-controls .control {
      width: 135px;
      height: 29px;
      float: left;
      margin: 7px 6px;
      background-image: url("../img/sprite_btns.png");
      background-repeat: no-repeat;
      cursor: pointer; }
    .content-top-center .location-controls .find-bar {
      background-position: -130px -13px; }
      .content-top-center .location-controls .find-bar:hover {
        background-position: -130px -143px; }
    .content-top-center .location-controls .view-list {
      background-position: -130px -57px; }
      .content-top-center .location-controls .view-list:hover {
        background-position: -130px -187px; }
    .content-top-center .location-controls .add-bar {
      background-position: -130px -100px; }
      .content-top-center .location-controls .add-bar:hover {
        background-position: -130px -231px; }

.content-right {
  float: right;
  width: 250px;
  height: 105px;
  background-color: #ccc;
  position: relative;
  z-index: 10;
  font-family: 'Carrois Gothic SC', sans-serif; }
  .content-right .connect {
    width: 247px;
    height: 28px;
    padding: 3px;
    background-color: #954243;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#954243), to(#7b1314));
    background: -webkit-linear-gradient(top, #954243, #7b1314);
    background: -moz-linear-gradient(top, #954243, #7b1314);
    background: -ms-linear-gradient(top, #954243, #7b1314);
    background: -o-linear-gradient(top, #954243, #7b1314);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c2');
    color: #FFF; }
    .content-right .connect .label {
      font-size: 12px;
      float: left;
      width: 85px; }
      .content-right .connect .label a {
        color: #FFF; }
    .content-right .connect ul.social-links {
      padding: 0;
      margin: 0;
      list-style: none; }
      .content-right .connect ul.social-links li {
        float: left;
        width: 26px;
        height: 26px;
        margin-right: 6px;
        cursor: pointer;
        background-image: url("../img/sprite_social.png");
        background-repeat: no-repeat; }
        .content-right .connect ul.social-links li.twitter {
          background-position: -34px 0; }
        .content-right .connect ul.social-links li.instagram {
          background-position: -69px 0; }
        .content-right .connect ul.social-links li.foursquare {
          background-position: -104px 0; }
        .content-right .connect ul.social-links li.email {
          background-position: -138px 0; }
  .content-right .rally-parties {
    height: 71px;
    background-color: #ffcd1e;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffcd1e), to(#ffc200));
    background: -webkit-linear-gradient(top, #ffcd1e, #ffc200);
    background: -moz-linear-gradient(top, #ffcd1e, #ffc200);
    background: -ms-linear-gradient(top, #ffcd1e, #ffc200);
    background: -o-linear-gradient(top, #ffcd1e, #ffc200);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c2'); }
    .content-right .rally-parties .rally-wrapper {
      width: 100%;
      height: 100%;
      background-image: url("../img/bg_rally.png");
      background-repeat: no-repeat;
      background-position: 5px 0px; }
    .content-right .rally-parties .dont-miss {
      font-size: 19px;
      padding-top: 1px;
      margin-left: 55px; }
    .content-right .rally-parties a.see-all {
      color: #000;
      text-decoration: underline;
      cursor: pointer;
      display: block;
      text-align: center;
      margin-top: 22px;
      margin-left: 15px; }

.content-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 200px;
  z-index: 10;
  border-top: 4px solid #F2A82A; }
  .content-bottom .hashtag {
    width: 74%;
    height: 45px;
    padding-top: 5px;
    text-align: center;
    float: left;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 16px; }
    .content-bottom .hashtag span.hash {
      display: inline-block;
      width: 193px;
      height: 30px;
      background-image: url("../img/sprite_footer.png");
      background-repeat: no-repeat;
      background-position: 0 10px;
      margin-bottom: -5px; }
    .content-bottom .hashtag span.arrow {
      width: 28px;
      height: 28px;
      background-image: url("../img/sprite_arrows.png");
      background-repeat: no-repeat;
      background-position: -28px 0;
      float: right;
      margin-top: 4px;
      margin-right: 10px;
      cursor: pointer; }
  .content-bottom .divider {
    width: 1%;
    height: 50px;
    background-color: #FFF;
    float: left; }
  .content-bottom .text-to-win {
    width: 25%;
    height: 50px;
    float: left;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 16px;
    position: relative; }
    .content-bottom .text-to-win .text-wrapper {
      width: 260px;
      margin: auto;
      margin-top: 12px;
      height: 25px;
      background-image: url("../img/sprite_footer.png");
      background-repeat: no-repeat;
      background-position: 0 -20px; }
    .content-bottom .text-to-win .txt {
      display: inline-block;
      margin-left: 19px;
      margin-right: 75px;
      margin-top: 3px; }
    .content-bottom .text-to-win .deets {
      display: inline-block; }
    .content-bottom .text-to-win .expanded-content {
      display: none; }
    .content-bottom .text-to-win.expanded .expanded-content {
      display: block;
      height: 140px;
      width: 100%;
      position: absolute;
      left: 0;
      top: -154px;
      padding: 5px 0;
      background-color: #850001;
      color: #FFF;
      text-align: center; }
      .content-bottom .text-to-win.expanded .expanded-content .close {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer; }
      .content-bottom .text-to-win.expanded .expanded-content .header {
        font-size: 28px;
        line-height: 30px;
        background-image: url("../img/txt_rally.png");
        background-repeat: no-repeat;
        background-position: 155px 10px; }
        .content-bottom .text-to-win.expanded .expanded-content .header span.rally {
          display: inline-block;
          width: 113px;
          height: 27px;
          margin-left: 5px;
          margin-top: 5px; }
      .content-bottom .text-to-win.expanded .expanded-content p {
        margin: 0;
        margin-top: 5px;
        padding: 0 40px;
        line-height: 15px; }
      .content-bottom .text-to-win.expanded .expanded-content .disclamer {
        font-size: 12px;
        margin-top: 10px; }
  .content-bottom .hashtag, .content-bottom .text-to-win {
    background-color: #954243;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#954243), to(#7b1314));
    background: -webkit-linear-gradient(top, #954243, #7b1314);
    background: -moz-linear-gradient(top, #954243, #7b1314);
    background: -ms-linear-gradient(top, #954243, #7b1314);
    background: -o-linear-gradient(top, #954243, #7b1314);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c2');
    color: #FFF; }
  .content-bottom .connect {
    width: 44%;
    height: 50px;
    float: left;
    background-color: #707070;
    color: #FFF; }
  .content-bottom .ugc {
    width: 100%;
    background-color: #000;
    height: 150px;
    color: #FFF; }
