body {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif; }

.app-wrapper {
  background-color: rgba(0, 200, 250, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 1080px;
  min-height: 755px; }
  .app-wrapper #map-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #c1c1c1; }

.app-wrapper .content-left {
  float: left;
  width: 300px;
  min-height: 550px;
  height: 100%;
  margin-top: -205px;
  position: relative;
  z-index: 10; }
  .app-wrapper .content-left .logo {
    width: 100%;
    height: 200px;
    background-color: #FFF;
    position: absolute;
    top: 205px; }
  .app-wrapper .content-left .enter-start {
    width: 100%;
    height: 90px;
    background-color: #AC0002;
    color: #FFF;
    position: absolute;
    top: 50%;
    margin-top: 32px; }
  .app-wrapper .content-left .ad-bud-left {
    width: 100%;
    height: 250px;
    background-color: #707070;
    color: #FFF;
    position: absolute;
    bottom: 0; }

.app-wrapper .content-top-center {
  width: 468px;
  margin: auto;
  position: relative;
  z-index: 10; }
  .app-wrapper .content-top-center .ad-bud-top {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    background-color: #707070;
    color: #FFF; }
  .app-wrapper .content-top-center .location-controls {
    width: 100%;
    padding: 20px 0;
    background-color: #000;
    color: #FFF; }

.app-wrapper .content-right {
  float: right;
  width: 300px;
  height: 200px;
  background-color: #FFF;
  position: relative;
  z-index: 10; }

.app-wrapper .content-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 200px;
  background-color: #D7D7D7;
  z-index: 10; }
  .app-wrapper .content-bottom .hashtag {
    width: 44%;
    height: 50px;
    float: left;
    background-color: #AC0002;
    color: #FFF; }
  .app-wrapper .content-bottom .text-to-win {
    width: 12%;
    height: 75px;
    float: left;
    background-color: #FFF;
    margin-top: -25px;
    position: relative;
    z-index: 11; }
  .app-wrapper .content-bottom .connect {
    width: 44%;
    height: 50px;
    float: left;
    background-color: #707070;
    color: #FFF; }
  .app-wrapper .content-bottom .ugc {
    width: 100%; }
