// ----- RESET ----- \\
body { margin: 0; padding: 0; }
.clear { clear: both; }
ul { list-style: none; margin: 0; padding: 0 }

// ----- MIXINS ----- \\
@mixin border-radius($num: 5px) {
	-moz-border-radius: $num;
	-webkit-border-radius: $num;
	border-radius: $num;
}
@mixin grad($c1, $c2) {
	background-color: $c1;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($c1), to($c2));
	background: -webkit-linear-gradient(top, $c1, $c2);
	background: -moz-linear-gradient(top, $c1, $c2);
	background: -ms-linear-gradient(top, $c1, $c2);
	background: -o-linear-gradient(top, $c1, $c2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c2');
}

// ----- STRUCTURE ----- \\
body {
	font-family: sans-serif;
}
.app-wrapper {
	background-color: rgba(0, 200, 250, 0.3);
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 1019px;
	min-height: 85 + 9 + 480 + 200px;
	overflow: hidden;
	#map-container {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #c1c1c1;
	}
}
.app-header {
	height: 85px;
	width: 100%;
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #900B0C;
	position: relative;
	z-index: 10;
	border-bottom: 2px solid #F2A82A;
}
.content-left {
	float: left;
	width: 300px;
	min-height: 480px;
	position: relative;
	z-index: 10;
	height: 100%;
	color: #FFF;
	.featured-bar {
		width: 100%;
		height: 120px;
		background-color: #707070;
		border: 1px solid #850001;
		border-left: 0;
	}
	.ad-bud-left {
		width: 100%;
		height: 250px;
		background-color: #707070;
		position: absolute;
		border: 1px solid #850001;
		border-left: 0;
		top: 50%;
		margin-top: -266px;
	}
	.enter-start {
		width: 100%;
		height: 110px;
		position: absolute;
		bottom: 290px;
		border: 1px solid #850001;
		border-left: 0;
		@include grad(#954243, #7b1314);
	}
}
.content-top-center {
	width: 468px;
	margin: auto;
	position: relative;
	z-index: 10;
	.top-wrapper {
		margin-left: 25px;
	}
	.ad-bud-top {
		width: 468px;
		height: 60px;
		background-color: #707070;
		color: #FFF;
	}
	.location-controls {
		width: 468px;
		height: 45px;
		background-color: #000;
		color: #FFF;
	}
}
.content-right {
	float: right;
	width: 250px; // -50
	height: 105px;
	background-color: #ccc;
	position: relative;
	z-index: 10;
}
.content-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 200px;
	z-index: 10;
	border-top: 4px solid #F2A82A;
	.hashtag {
		width: 74%;
		margin-right: 1%;
		height: 50px;
		float: left;
	}
	.text-to-win {
		width: 25%;
		height: 50px;
		float: left;
	}
	.hashtag, .text-to-win {
		@include grad(#954243, #7b1314);
		color: #FFF;
	}
	.connect {
		width: 44%;
		height: 50px;
		float: left;
		background-color: #707070;
		color: #FFF;
	}
	.ugc {
		width: 100%;
		background-color: #000;
		height: 150px;
	}
}